amqp==5.0.5
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
cachetools==4.2.1
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
futures==3.1.1
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-firestore==2.0.2
google-cloud-language==2.0.0
googleapis-common-protos==1.52.0
goslate==1.5.1
grpcio==1.35.0
idna==2.10
kombu==5.0.2
libcst==0.3.16
mypy-extensions==0.4.3
praw==7.1.0
prawcore==1.5.0
prompt-toolkit==3.0.14
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDictionary==2.0.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
rsa==4.7
selenium==3.141.0
six==1.15.0
soupsieve==2.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
update-checker==0.18.0
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
websocket-client==0.57.0
